.slides_container {
    width: 1500px;
    display: none;
}

.slides_container div {
    width: 1500px;
    height: 500px;
    display: block;
}

.message-text {
    width: 940px;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination .current a {
    color: red;
}
