.slides_container {
    width: 850px;
    display: none;
}

.slides_container div {
    width: 850px;
    height: 315px;
    display: block;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination .current a {
    color: red;
}
