<html>
  <head>
    <title>Cyrano - {{ album.name }}</title>
  </head>
  <body>
    <h1>{{ album.name }}</h1>
    <h2>Videos</h2>
    <ul>
      {% for video in album.videos %}
        <li><a href="{{ video['url'] }}">{{ video['title'] }}</a></li>
      {% endfor %}
    </ul>
    <h2>Add a video</h2>
    <form action="/video/add" method="POST">
      <input type="hidden" name="album" value="{{ album.id }}"/>
      <label for="video-url">YouTube URL</label>
      <input type="text" name="url" id="video-url"/>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
