<!DOCTYPE html>
<html>
  <head>
    <title>Cyrano - {{ album.name }}</title>
    <link rel="stylesheet" href="/static/slides.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/slides.jquery.js"></script>
    <script src="/static/slides.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{ album.name }}'s album <small>for their Ruby Wedding</small></h1>
      </div>
      <div id="slides">
        <div class="slides_container">
          {% for message in album.messages %}
            <div style="height: 600px">
              <h3>From {{ message.name }}</h3>
              {% if message.html_text() %}
                {% if message.has_media() %}
                  <blockquote style="width: 400px; float: left; margin-right: 1em">
                    {{ message.html_text()|safe }}
                  </blockquote>
                {% else %}
                  <blockquote style="width: 800px">
                    {{ message.html_text()|safe }}
                  </blockquote>
                {% endif %}
              {% endif %}
              {% if message.youtube_id %}
                <object width="560" height="315">
                  <param name="movie" value="https://www.youtube.com/v/{{ message.youtube_id }}?fs=1"></param>
                  <param name="allowFullScreen" value="true"></param>
                  <param name="allowScriptAccess" value="always"></param>
                  <embed src="https://www.youtube.com/v/{{ message.youtube_id }}?fs=1"
                         type="application/x-shockwave-flash"
                         allowfullscreen="true"
                         allowscriptaccess="always"
                         width="560" height="315">
                  </embed>
                </object>
              {% elif message.flickr_link %}
                {{ message.flickr_link|safe }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
