<html>
  <head>
    <title>Cyrano</title>
  </head>
  <body>
    <h1>Cyrano</h1>
    <form action="/album/add" method="POST">
      <label for="album-name">Name</label>
      <input type="text" name="name" id="album-name"/>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
